<div class="modal-header">
    <h3 class="modal-title">Recover Password</h3>
</div>
<div class="modal-body">
    <form name="vm.forgot_form">
                 <div class="label-wrapper">
                    <label class="form-label">Email Id<span class="required">*</span></label>
                </div>
                <div class="field-wrapper">
                    <input type="email" class="form-input width-100" name="email" ng-model="vm.forgot.email" validation="email:alt=email id not valid|required:alt=Required field" onpaste="return false;">
                </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-formsubmit" type="button" ng-click="vm.submit()">Submit</button>
    <button class="btn btn-formCancel" type="button" ng-click="vm.cancel()">Cancel</button>
</div>

