<section>
	<center>
		<font size=4><b>Register Candidate</b></font>
	</center>
	<section id="cand_profile" name="cand_profile_section" class="expander">
		<label class="pro_label center" ng-click="vm.toggler()">Profile</label>
		<table width="50%" bgcolor="99FFFF" align="center" id="pro_expander">
			<tr>
				<td>Division</td>
				<td><select name="division">
						<option value="-1" selected>select..</option>
						<option value="New Delhi">NEW DELHI</option>
						<option value="Mumbai">MUMBAI</option>
						<option value="Goa">GOA</option>
						<option value="Patna">PATNA</option>
				</select></td>
			</tr>
			<tr>
				<td>Date Of Joining</td>
				<td><select name="doj">
						<option value="-1" selected>select..</option>
						<option value="New Delhi">NEW DELHI</option>
						<option value="Mumbai">MUMBAI</option>
						<option value="Goa">GOA</option>
						<option value="Patna">PATNA</option>
				</select></td>
			</tr>
			<tr>
				<td>Employment Status</td>
				<td><select name="empStatus">
						<option value="-1" selected>select..</option>
						<option value="New Delhi">NEW DELHI</option>
						<option value="Mumbai">MUMBAI</option>
						<option value="Goa">GOA</option>
						<option value="Patna">PATNA</option>
				</select></td>
			</tr>
			<tr>
				<td>Sourced By</td>
				<td><select name="sourcedBy">
						<option value="-1" selected>select..</option>
						<option value="New Delhi">NEW DELHI</option>
						<option value="Mumbai">MUMBAI</option>
						<option value="Goa">GOA</option>
						<option value="Patna">PATNA</option>
				</select></td>
			</tr>
			<tr>
				<td>PF No:</td>
				<td><input type=text name=pfNo id="textname" size="30"></td>
			</tr>

			<tr>
				<td>ESI No:</td>
				<td><input type="text" name="fathername" id="fathername"
					size="30"></td>
			</tr>
			<tr>
				<td>Forex Card No:</td>
				<td><input type="text" name="paddress" id="paddress" size="30"></td>
			</tr>

			<tr>
				<td>Forex Card Bank:</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Designation</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Official Email Id:</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Client</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Partner</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Location</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Visiting Country</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Onsite Mobile No:</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Purpose</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
			<tr>
				<td>Onsite Address</td>
				<td><input type="text" name="personaladdress"
					id="personaladdress" size="30"></td>
			</tr>
		</table>
	</section>
	<input type="reset" class="cand-register-btn">
	<button type="button" class="cand-register-btn" ng-click="vm.ii()">Register</button>
</section>
