<div class="form-horizontal" name="reg_form">
	<ul class="nav nav-tabs">
		<li ng-repeat="step in steps"
			ng-class="{active: $index == getCurrentStepIndex()}"><a
			href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a></li>
	</ul>
	<form name="regForm" id="form_0" novalidate>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="firstName">Joining Date</label>
			<div class="controls">
				<input type="text" name="joiningDate" id="joiningDate"
					ng-model="vm.registration.joiningDate" class="form-input width-100"
					placeholder="Joining Date" validation="required:alt=Required field" />
			</div>
		</div>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="businessUnit">Business Unit</label>
			<div class="controls">
				<input type="text" name="businessUnit" id="businessUnit"
					ng-model="vm.registration.businessUnit.id" class="form-input width-100"
					placeholder="Business Unite" validation="required:alt=Required field" />
			</div>
		</div>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="reportingManager">Reporting
				Manager</label>
			<div class="controls">
				<input type="text" name="reportingManager" id="reportingManager"
					ng-model="vm.registration.reportingManager.id" class="form-input width-100"
					placeholder="Reporting Manager" validation="required:alt=Required field" />
			</div>
		</div>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="accountManager">Account Manager</label>
			<div class="controls">
				<input type="text" name="accountManager" id="accountManager"
					ng-model="vm.registration.accountManager.id" class="form-input width-100"
					placeholder="Account Manager" validation="required:alt=Required field" />
			</div>
		</div>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="hrManager">HR</label>
			<div class="controls">
				<input type="text" name="hrManager" id="hrManager"
					ng-model="vm.registration.hrManager.id" class="form-input width-100"
					placeholder="HR" validation="required:alt=Required field" />
			</div>
		</div>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="workLocation">Work Location</label>
			<div class="controls">
				<input type="text" name="workLocation" id="workLocation"
					ng-model="vm.registration.workLocation.id" class="form-input width-100"
					placeholder="Work Location" validation="required:alt=Required field" />
			</div>
		</div>
		<div class="control-group width-30 pull-left">
			<label class="control-label" for="timeZone">Time Zone</label>
			<div class="controls">
				<input type="text" name="timeZone" id="timeZone"
					ng-model="vm.registration.timeZone.timeZoneCode" class="form-input width-100"
					placeholder="Time Zone" validation="required:alt=Required field" />
			</div>
		</div>
	</form>
	<div class="clearfix"></div>
	<button style="margin: 20px 0;" class="logout-button"
		ng-click="vm.employeeRegister()">Confirm and Register</button>
</div>
<div class="clearfix"></div>
