<div class="col-md-12 footer-div-content">
<div class="share-links width-100">
      <a href="#" class="twitter ng-isolate-scope" eat-click="" text="Browse, search and download Material Design Icons. #materialdesign via @MaterialUp" related="@MaterialUp" share="http://www.materialup.com/tools/icons" network="twitter">
        <i class="fa fa-twitter"></i> Tweet
      </a>
      <a href="#" class="facebook ng-isolate-scope" eat-click="" share="http://www.materialup.com/tools/icons" network="facebook">
        <i class="fa fa-facebook"></i> Share
      </a>
      <a href="#" class="google ng-isolate-scope" eat-click="" share="http://www.materialup.com/tools/icons" network="plus">
        <i class="fa fa-google-plus"></i> Plus
      </a>
    </div>
    <div class="copyright text-center"> <span>Copyright &#9400; 2015. All Rights Reserved by Belhopat.</span> </div>
</div>
